<!DOCTYPE html>
<html>
  <head>
    <title>Xyren Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
      }
    </style>
    </head>
    <body>
    <div class="container">  
      <h1 class="text-center mt-2 mb-4"> {{company_name}} Carrers</h1>
      <img class= "img-fluid" id= "banner" src ="https://fa260959-f62d-4405-85a3-d9bda5161269-00-3po6iitzqk3io.spock.replit.dev/static/banner2.jpg" width=360px>
      <h2 class="text-center">About Xyren</h2>
      <p class="lead">At Xyren, we believe in pushing boundaries, fostering innovation, and creating impactful solutions that make a difference. Our team is passionate about technology, creativity, and delivering excellence in everything we do.
  
      We are looking for talented individuals who are eager to learn, grow, and collaborate in a dynamic environment. Whether you’re an experienced professional or just starting your career, Xyren offers opportunities to explore your potential and shape the future.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class= "text-center">
      <button class="btn btn-primary btn-lg mt-2 mb-4">Contact Us</button>
        <p>Copyright 2025, Xyren, All rights reserved.</p>       
      </div>
    </div>
  </body>
</html>